[Variables]
# These variables are used in the config below
histopath = histos/mumu_vbs/6_TeV/mumuWW/reco
# coeffs = M0 M1 M7 T0 T1 T2 S0 S1
coeffs = T1
signal = sm
# backgrounds = ggwpwm_6tev wpwmz_ztonunu_6tev wzmunu_6tev zzmumu_6tev
# basename = R_dijet_mass_10GeVbinning
basename = R_dijet_mass
base_coupling = 12

[Measurement]
name = mumu_vbs_mjj
# set the measured data below
# syntax is path/to/rootfile:histoname
# '$' is used to substitute variable with its content
measured = $(histopath)/SM6_100k_normalizedHists.root:$(basename)
# SM prediction for signal process
sm = $(histopath)/SM6_100k_normalizedHists.root:$(basename)
# Binning is only used for plotting
#binning=0 50 100 150 225 300 400 500
#binning=0 150 350 550 750 950 1200
# This is a reco level analysis
reco_level = True

[Prediction Uncertainties]
# path to down,up variations of the signal prediction
# the '@' syntax will add one entry for every entry in the variable list defined at the top
# when running the fit, an expanded config ssWW_mll.cfg.exp will be written which allows to check whether all variables have been substituted correctly
# {sym} means the uncertainty will be symmetrized
#@(systematics) = {sym} $(histopath):$(basename)$(signal)_$(channel)_@(systematics)_down,$(histopath):$(basename)$(signal)_$(channel)_@(systematics)_up
#{sm} @(systematics) = {sym} ,$(histopath):$(basename)$(signal)_$(channel)_@(systematics)_up
#{@(coeffs),@(coeffs)} @(systematics) = {sym} ,$(histopath):$(basename)quad_@(coeffs)_$(channel)_@(systematics)_up
#{@(coeffs),@(coeffs)} genWeightMUR_eq_05MUF_eq_05dyn_scale_choice_eq_HT = {sym} $(histopath):$(basename)quad_@(coeffs)_$(channel)_genWeightMUR_eq_05MUF_eq_05dyn_scale_choice_eq_HT,
[Backgrounds]
# path to the nominal background prediction
#@(backgrounds) = $(histopath):$(basename)@(backgrounds)_$(channel)_nom
# smbkg = $(histopath)bkgsr.root:h_mWy
# @(backgrounds) = $(histopath)/@(backgrounds).root:$(basename)

[Background Uncertainties]
# path to background systematics
#{@(backgrounds)} @(systematics) = {sym} $(histopath):$(basename)@(backgrounds)_$(channel)_@(systematics)_down,$(histopath):$(basename)@(backgrounds)_$(channel)_@(systematics)_up
#{@(backgrounds)} @(systematics) = {sym} ,$(histopath):$(basename)@(backgrounds)_$(channel)_@(systematics)_up

[Linear Effects]
# linear EFT effects (interference)
# @(coeffs) = $(histopath)/mumu_nunuww_INT_@(coeffs)_$(base_coupling)_6TeV.root:$(basename)
T1 = $(histopath)/INT6_100k_1E_12_normalizedHists.root:$(basename)

[Quadratic Effects]
# quadratic EFT effects 
T1 T1 = $(histopath)/QUAD6_100k_1E_12_normalizedHists.root:$(basename)
# T2 T2 = $(histopath)/mumu_nunuww_QUAD_T2_$(base_coupling)_6TeV.root:$(basename)
# T0 T0 = $(histopath)/mumu_nunuww_QUAD_T0_$(base_coupling)_6TeV.root:$(basename)
# M0 M0 = $(histopath)/mumu_nunuww_QUAD_M0_$(base_coupling)_6TeV.root:$(basename)
# M1 M1 = $(histopath)/mumu_nunuww_QUAD_M1_$(base_coupling)_6TeV.root:$(basename)
# M7 M7 = $(histopath)/mumu_nunuww_QUAD_M7_$(base_coupling)_6TeV.root:$(basename)
# S0 S0 = $(histopath)/mumu_nunuww_QUAD_S0_$(base_coupling)_6TeV.root:$(basename)
# S1 S1 = $(histopath)/mumu_nunuww_QUAD_S1_$(base_coupling)_6TeV.root:$(basename)
# S2 S2 = $(histopath)/mumu_nunuww_QUAD_S2_$(base_coupling)_6TeV.root:$(basename)