[Variables]
# These variables are used in the config below
histopath = histos/ssWW/ssWW.root
basename = Mll_CutSR_
channel = all
backgrounds = WZ signal_EW4 fakesAlt chFlipAlt
#systematics = FakeElSys FakeMuSys FakeElStat FakeMuStat CF_SFunc CF_NoCorr
systematics =
coeffs = M0 M1 M7 S02 S1 T0 T1
signal = signal_EW6

[Measurement]
name = ssWW_mll_test1
# set the measured data below
# syntax is path/to/rootfile:histoname
# '$' is used to substitute variable with its content
measured = $(histopath):$(basename)data_all_nom
# SM prediction for signal process
sm = $(histopath):$(basename)$(signal)_all_nom
# Binning is only used for plotting
binning=0 50 100 150 225 300 400 500
# This is a reco level analysis
reco_level = True

[Prediction Uncertainties]
# path to down,up variations of the signal prediction
# the '@' syntax will add one entry for every entry in the variable list defined at the top
# when running the fit, an expanded config ssWW_mll.cfg.exp will be written which allows to check whether all variables have been substituted correctly
# {sym} means the uncertainty will be symmetrized
@(systematics) = {sym} $(histopath):$(basename)$(signal)_$(channel)_@(systematics)_down,$(histopath):$(basename)$(signal)_$(channel)_@(systematics)_up

[Backgrounds]
# path to the nominal background prediction
@(backgrounds) = $(histopath):$(basename)@(backgrounds)_$(channel)_nom

[Background Uncertainties]
# path to background systematics
{@(backgrounds)} @(systematics) = {sym} $(histopath):$(basename)@(backgrounds)_$(channel)_@(systematics)_down,$(histopath):$(basename)@(backgrounds)_$(channel)_@(systematics)_up

[Linear Effects]
# linear EFT effects (interference)
@(coeffs) = $(histopath):$(basename)int_@(coeffs)_$(channel)_nom

[Quadratic Effects]
# quadraitc EFT effects 
@(coeffs) @(coeffs) = $(histopath):$(basename)quad_@(coeffs)_$(channel)_nom
